html, body {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    background: white;
    font-family: monospace;
}

.intro {
    display:flex;
    justify-content: center;
    align-items: center;
    background: white;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:1000;
    z-index:1000;
    color: red;
    overflow:hidden;
    font-size: 2.5em;
}
.intro span {
    position: relative;
    display: inline-block;
    min-width: 10px;
}
.intro:before {
    position: absolute;
    bottom: calc(50% + 0.5em);
    content: "/ᐠ｡ ｡ᐟ\\";
    font-size: 0.8em;
    color: #777;
}
.intro:after {
    position: absolute;
    bottom: calc(50% - 0.5em);
    left: calc(50% + 0.5em);
    content: "meow!";
    font-size:.5em;
    color: green;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 2s forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes moveLetterDown {
    0% {
        top: 0%;
    }
    100% {
        top: 1000px;
        color: transparent;
        background: transparent;
    }
}

button, input {
    font-family: monospace;
    text-transform: uppercase;
}

.stretch {
    display: flex;
    flex-direction: row;
}

.stretch > *:first-child {
    flex:1;
}


.app {
    max-width: 600px;
    margin:auto;
    background: white;
    opacity: 0;
    transition: 1s opacity;
}
.app.show {
    opacity: 1;
}

.app-name {
    height: 20px;
    font-size: 20px;
    margin: 0;
    color: black;
    padding: 0 10px;
}

.days {
    padding: 10px;
}

.today-header {
   
}

.today-header h3 {
    margin: 0;
    margin-bottom: 5px;
}

.today-header .start-end {
    display:flex;

}
.start-field, .end-field {
    margin-bottom: 10px;
    width: 100%;
}

.start-field div, .end-field div {

}

.start-field input, .end-field input {
    font-size: 16px;
    display: inline-block;
    height: 40px;
    margin:0;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #777;
}

.start-field button, .end-field button {
    display: inline-block;
    min-height: 0;
    width: auto;
    height: 40px;
    margin:0;
    box-sizing: border-box;
    vertical-align: top;
}


.projects {
}

.projects, .projects * {
    box-spacing:border-box;
}

.day.history {
    margin-bottom: 1em;
}

.project {
    display:flex;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #e6e6e64f;
    flex-direction: column;
    position: relative;
    margin-bottom: 1em;
    border-left: 6px solid white;
    transition: .5s;
}

.project.history {
    display:flex;
    border: none;
    flex-direction:row;
    box-shadow: none;
    border-bottom: 1px solid #eee;
    border-radius:0;
}

.project.history > span {
    flex: 1;
}

.description {
    color: inherit;
    flex: 1;
    padding: 8px 8px 20px 8px;
    background: #dddddd40;
}
.description .name {
    font-weight:bold;
}

.tasks {
    flex:1;
}

.project.running {
    transform: scale(1.03);
}

.task {
    color: black;
    padding: 8px 8px 20px 8px;
    cursor: pointer;
    position: relative;
    border-top: 1px solid #f2f2f2;
}

.task:nth-child(odd) {
}

.task.running{

    background: #DDD;
    
}


button.delete img {
    height: 70%;
}

button {
    display:flex;
    cursor: pointer;
    border:none;
    background: #DDD;
    margin-bottom: 1px;
    justify-content: center;
    align-items:center;
    min-height: 60px;
    width: 100%;
    transition: all 400ms;
}
button:hover {
   color:red;
}

button.delete {
    width: 30px;
    margin: 0;
    height: 30px;
    min-height: 0;
    color: #ababab;
    border-radius: 50%;
    background: transparent;
    font-size: 2em;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 19px;
    opacity: .3;
    right: 10px;
    transition: .5s;
}
button.delete:hover {
    opacity:1;
}

button.running {
    background: #85bf89;
    color: #2b2e37;
}

button.stop {
    background: red;
    color: white;
}

.name {
    display: block;
    cursor: inherit;
    text-transform: uppercase;
    font-size: 16px;
}

.project .name {
    position: absolute;
}

.time {
    display: inline-block;
    cursor: inherit;
    margin-right: 5px;
    color: black;
    text-align:center;
}

.running {
    position: relative;
}
.running .runner {
    position: absolute;
    top: calc( 50% - 5px);
    left: calc(50% - 5px);
    width: 1px;
    height: 1px;
    background: red;
}

.running .runner::before {
    content: "";
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 2s ease-in-out infinite;
}
.running .runner::after {
    content: "";
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 2s ease-in-out infinite;
    animation-delay: -0.6s;
}
@keyframes lds-ripple {
    0% {
        top: 0px;
        left: 0px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: .8;
    }
    100% {
        top: -36px;
        left: -36px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.new {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1em;
    padding: 1em 0;
}

.new div {
    color: #777;
}

.new input {
    font-size: 16px;
}

.new select {
    font-size: 16px;
}
.new .buttons {
    text-align: right;
}

.new button {
    text-align: right;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    padding: 0;
    width: 100px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    background: green;
    color: white;
    min-height: 30px;
}

.day {
    position: relative;
}
.days.history {
    padding: 0;
}

.day.history {
    margin-bottom: 20px;
}

.day.history h3 {
    margin: 0;
    padding: 0;
    font-size:16px;
}

.day.history button.delete {
    top: -5px;
}

.running button.delete {

}

div.hint {
    font-size: 0.8em;
    color: #afafaf;
    margin: 2px 0;
}

.icon-button {
    margin: 0 5px;
    width: 40px;
    min-height: 0;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    transition: 1s;
    font-size: 20px;
    background: transparent;
}

.icon-button:hover {
   color: red !important;
}

.time-container {
    display: block;
    text-align: center;
    position: relative;
    top:8px;
}

.time-container .time {
    margin: 0;
    padding: 0;
    width: 80px;
    position: relative;
    top: -2px;
    font-size: 16px;
    cursor:pointer;
    transition: .5s;
    transition-delay: .5s;
}

.time-container .time:hover {
    color: red;
}

.time-container .icon-button {
    margin: 0;
    color: #ababab;
}

.project.running:before {
    content:"";
    width:10px;
    height:10px;
    position: absolute;

    border-radius: 50%;
    animation: runAround 100s infinite linear;
    z-index:10000;
}

@keyframes runAround {
    0% {
        top:-5px;
        left:-5px;
    }
    25% {
        top:-5px;
        left: calc(100% - 5px);
    }
    50% {
        left: calc(100% - 5px);
        top: calc(100% - 5px);

    }
    75% {
        top: calc(100% - 5px);
        left: -5px;

    }
    100% {
        top:-5px;
        left:-5px;
    }
}

table, th, td {
    border: 1px solid #DDD;
    border-collapse: collapse;
    text-align: center;
}

table th {
    min-width: 70px;
    text-align:center;
}

table .delete {
    text-align:center;
    padding-top: 3px;
}

table .delete-icon {
    width: 16px;
}
h3 {
    border-bottom: 1px solid #DDD;
    margin-right: 10px;
}

.save-button {
    border-color: green;
}
.save-button button {
    background: green;
    color: white;
}
.edit-button {
    border-color: orange;
}
.edit-button button {
    background: orange;
    color: white;
}

h3 button {
    min-height: 0;
    height: 40px;
    display: inline-block;
    float: right;
    padding: 0 10px;
    width: auto;
    cursor: pointer;
    position: relative;
    top: -21.5px;
    left: 10px;
    cursor: pointer;
    border-radius: 10px 10px 10px 0;
}